video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;



}
.herocont{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.068);
    object-fit: contain;
    height: 1000px;
    margin-top: 20px;
}
.herocont > h2{
  
  color: #1860dd;
 position: absolute;
 top: 150px;
   text-shadow: 0 0 20px #0000003d;
}
.herocont > h1{
    color: rgb(190, 190, 190);
    text-shadow: 0 0 20px #000000;
    font-size: 80px;
    margin-top: 150px;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    animation: slowMotion 2s ease forwards;
  }
  @keyframes slowMotion {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    50%{
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  
  
}

.herocont >p{
  display: flex;
  position: absolute;
  top: 450px;
 
    color:hsl(0, 0%, 100%);
    font-size: 30px;
 
    justify-content: center;
    align-items: center;
    font-family: monospace;
    animation: fadeIn 1s ease forwards; 
    animation: slowMotion 2s ease forwards;
    font-weight: 200px;

}
.btnn{
    margin-top: 250px;   
    font-size: 30px;
    background-color: black;
border-radius: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 10px;
 font-weight:bold;
 color: #1860dd;
cursor: pointer;
border: none;
z-index: 100;
transition: background-color 0.5s ease, color 0.5s ease;
animation: slowMotion s ease forwards;
}
.btnn:hover{
    animation: glow 1s ease-in-out infinite;
background-color: rgba(0, 0, 0, 0.993);

}
@keyframes glow {
    0% {
      box-shadow: 0 0 20px  #1860dd;
    }
    50% {
      box-shadow: 0 0 20px   #1860dd;
    }
    100% {
      box-shadow: 0 0 20px   #1860dd;
    }
  }
  @media screen and (max-width: 600px){
    .herocont{
      display: flex;
      align-items: center;
    
      overflow:hidden;}
   
    .herocont > h1{
      font-size: 40px;
      margin-top: 0px;
      position: relative
      ;bottom: 100px;
   
    }
    .herocont >p{
      font-size: 20px;
      font-family:monospace;
margin-top: 200px;
font-weight: 200;
position: relative
;
top: 220px;


    }
    .herocont > h2{
      position: absolute;
      top: 25%;
    
      
    }
   
    .btnn{
font-size: 20px;
background-color: black;

    }
    video{
     width: 100%;
     height: 100%;
      object-fit: cover;

    }
  }