/* about.css */

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  height: 1200px;
  flex-direction: row;

}

.section-content {
  
  display: flex;
  flex-direction: column;
  position:relative;
  right:-10px;
  margin-bottom: 30px;
  margin: 0 40px;
 
 
  margin-left:40px; /* Adjust the margin as needed */
}
.section-content >h2{
  color:#1860dd;
  margin-bottom: 50px;
  font-size: 60px;
  opacity: 0; /* Start with 0 opacity */
  animation: slowMotion 5s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%{
    color: #ffffff;
  }
  100% {
    opacity: 1;
  }
}
.section-content>p{
  animation: slowMotion 6s ease forwards;
  font-size: 30px;
  color: rgb(160, 160, 160);
}
@keyframes slowMotion {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }}

.roll {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  margin-left: 60px; 
  animation: rotate 6s linear infinite;
  width: 100%;
  height: 100%;
  position: relative
  ;
  bottom: 150px;

}
@keyframes rotate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(20px);
  }
}


@media screen and (max-width: 600px) {
  .cont {
    display: flex;
    flex-direction: column; /* Set the flex direction to column on smaller screens */
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 1200px;
  overflow: hidden;
  
  }
  .roll{
    display: flex;
   
    width: 80%;
    height: 80%;
    position: relative;
    top: 0;
    margin-bottom: 50px;
  }

  .section-content>p{

  font-size: 20px;
  position: relative;
  bottom: 200px;

width: 300px;
  }
  
  .section-content >h2{
  
  font-size: 40px;
  position: relative;
  bottom:200px;
 
  font-weight: bolder;
  font-size: 60px;
  white-space: nowrap;
  animation: slowMotion 5s ease forwards;
  }
  .section-content{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }
 
}
