/* about.css */

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  height: 1300px;
  flex-direction: row;
  margin-top: 600PX;

}

.section-content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
justify-content: center;
  margin-bottom: 30px;
 
 
 
  margin-left:40px; /* Adjust the margin as needed */
}
.section-content >h2{
  color:#1860dd;
position: absolute;
bottom: 450px;
left: 350px;
  font-size: 60px;
  opacity: 0; /* Start with 0 opacity */
  animation: slowMotion 5s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%{
    color: #ffffff;
  }
  100% {
    opacity: 1;
  }
}
.section-content>p{
  animation: slowMotion 6s ease forwards;
  font-size:25px;
  color: rgb(160, 160, 160);
 margin-bottom: 200px;
 text-align: center;
margin-right: 200PX;
}
@keyframes slowMotion {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }}

.roll {

  margin-left: 100px; 
  animation: rotate 6s linear infinite;
position: relative;
bottom: 360PX;
left: 200PX;

}
@keyframes rotate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(20px);
  }
}
.roll{
  display: flex;
 align-items: center;

  width: 150%;
  height: 150%;


  
}


@media screen and (max-width: 600px) {
  .cont {
    display: flex;
    flex-direction: column; /* Set the flex direction to column on smaller screens */
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 1700px;
  overflow: hidden;
  
  }
  .roll{
    display: flex;
 
    width: 80%;
    height: 80%;
    position: relative;
    bottom: 360PX;
    left: -50PX;

   
  }

  .section-content>p{

  font-size: 20px;
  position: absolute;
top :20px;
margin-right: 20px;
width: 300px;
  }
  
  .section-content > h2{
  display: flex;
  font-size: 40px;
left: -20px;

  flex-direction: column;
  position: relative;
  bottom: 350px;
align-items: center;
  font-weight: bolder;
  font-size: 60px;
  white-space: nowrap;
  animation: slowMotion 5s ease forwards;
  }
  .section-content{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }
 
}
@media (prefers-color-scheme: dark) {
  /* Dark mode styles here */
  .cont {
    background-color: #ffffff;
    color: #ffffff;
  }

}